.nav {
  max-width: 80%;
  background-color: gray;
  margin: 0 auto;
  padding-bottom: 25px;
  padding-left: 25px;
  text-align: left;
}

.nav a {
  color: white
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

#primary {
  max-width: 80%;
  background-color: gray;
  color: white;
  margin: auto;
  text-align: left;
  padding-bottom: 25px;
  padding-left: 25px
  padding-top: 25px
}

a {
  text-decoration: none;
  color: white
}

a:hover {
  color: blue;
}

#post-section {
  background-color: white;
  max-width: 80%;
  padding: 15px;
  border-radius: 10px;
}

section > a {
  padding: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: verdana;
  background-color: white;
}

.author {
  font-size: 11px;
  color: black
}

.post{
  word-wrap: break-word;
}
