<% if @errors %>
    <p class="error"><%= @errors %></p>
<% end %>

<h2>Login Here: </h2>
<form class="login-user" action='/users/login' method="post">
  <label for='email'>Email</label>
  <input name="email" type="text">
  <br>

  <label for='password'>Password</label>
  <input name="password" type="password">
  <br>

  <input type="submit" value="Login">
</form>
