<h1>Edit a channel</h1>

<!-- <% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list pad-b-2">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %> -->

<form method="post" action="/entries/<%= @entry.id %>">
  <input type="hidden" name="_method" value="put">

  <label for="title-input">Title:</label>
  <input name="entry[title]" type="text" value="<%= @entry.try(:title) %>" tabindex="1">

  <label for="body-textarea">Body:</label>
  <textarea name="entry[body]" tabindex="2"><%= @entry.try(:body) %></textarea>

  <input type="submit" value="Update" tabindex="3">
</form>
